<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section logo-section">
                <img src="./images/logo.png" alt="El Cangre" class="footer-logo">
                    <p class="footer-description">El Cangre es una cevichería que ofrece frescura y sabor en un ambiente familiar.</p>
            </div>
            <div class="footer-section social-section">
                <h4>Redes Sociales</h4>
                <div class="social-icons">
                    <a href="https://www.facebook.com/profile.php?id=61565358150764&rdid=uOBl9kr9f4IaRS8z&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1C5Nk7KcBy%2F#" target="_blank" aria-label="Facebook" class="facebook-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.tiktok.com/@el.cangree?lang=es" target="_blank" aria-label="TikTok" class="tiktok-icon"><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="footer-dark-text">© 2025 El Cangre. Todos los derechos reservados.</p>
            <p class="footer-created-by">Sitio web creado por <a href="https://alonsoleandro.me" target="_blank" class="creator-name">Alonso Leandro</a></p>
        </div>
    </div>
</footer>